body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://www.mentalup.co/img/blog/logical-mathematical-intelligence-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
}

input {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}